<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Micha's Emotions-Tagebuch</title>
    <link rel="stylesheet" href="/static/css/styles.css" />
</head>

<body>
    <header class="navbar">
        <div class="navbar__brand">
            <img class="navbar__logo" src="/static/pen_and_paper.png" width=50px height=50px alt="Micha's Emotionstagebuch" />Micha's Emotionstagebuch
        </div>
        <ul class="navbar__navigation">
            <li class="navbar__navigation-item"><a href="{{ url_for('neu') }}" class="navbar__link">Neuer Eintrag</a></li>
            <li class="navbar__navigation-item"><a href="{{ url_for('logout') }}" class="navbar__link">Logout</a></li>
        </ul>
    </header>
    <main class="main">
        <section>
            <h1>Einträge</h1>
            {% for entry in entries %}
            <article class="entry">
                <div class="entry_part">
                    <h2 class="entry__title">{{ entry[0] | truncate(20, true) }}</h2>
                    <time class="entry__date" datetime="{{ entry[1] }}">• {{ entry[3] }}</time>
                </div>
                <div class="entry_part">
                <p class="kategorie__content">Situation:</p>
                <p class="entry__situation">{{ entry[0] }}</p>
                </div>
                <div class="entry_part">
                <p class="kategorie__content">Reaktion:</p>
                <p class="entry__situation">{{ entry[1] }}</p>
                </div>
                <div class="entry_part">
                <p class="kategorie__content">Verhalten:</p>
                <p class="entry__situation">{{ entry[2] }}</p>
                </div>
            </article>
            {% endfor %}
        </section>
    </main>
    <footer class="footer">
        <div class="footer__content">
            <section class="left">
                <a class="footer__item">Made by Michael Karnitzschky</a>
                <a class="footer__item">Meine anderen Projekte</a>
            </section>
            <section class="right">
                <div class="footer__column">
                    <a class="footer__item">Neuer Eintrag</a>
                    <a class="footer__item">Kalender</a>
                </div>
                <div class="footer__column">
                    <a class="footer__item">Über...</a>
                    <a class="footer__item">Wie diese Seite gemacht wurde</a>
                </div>
            </section>
        </div>
    </footer>
</body>

</html>
